button {
    padding: 0 12px;
    height: 36px;
    border-radius: 5px;
    background: #42b983;
    color: #fff;
    outline: none;
    font-size: 14px;
    margin: 6px 8px;
    border: none;
}

input {
    padding: 0 6px;
    height: 36px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    display: block;
    margin: 8px 0px;
}